*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

body{
    background-color: #0f0e17;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    width: 1300px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper-card{
    width: calc(100% - 3rem);
    border: 2px solid #ff8906;
    border-radius: 15px;
    overflow: hidden;
}

.card{
    width: calc(100% / 4);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover
}

.wrapper-img{
    height: 250px;
}

.name-cocktail{
    background-color: #0f0e17;
    color: white;
    padding: 20px;
    text-align: center;
}

.wrapper-price{
    background-color: #ff8906;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0f0e17;
    font-weight: bolder;
    padding: 10px 15px;
}

.arrow-price{
    color: #ff8906;
    background-color: white;
    padding: 5px 15px;
    border-radius: 15px;
    position: relative;
}

.menuDescription{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px;
    opacity: 0.9;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 15px;
    right: 30px;
    z-index: 33;
}